.botao-primario{
    width: auto;
    outline: none;
    padding: 10px;
    border: 0;
    width: 80px;
    background-color: #7533a8;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px #0a0a0a20;
    transition: 0.3s linear all;
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 5px 3px #0a0a0a40;
    }
    &:disabled{ cursor: default; opacity: 0.7;}
}