<router-outlet></router-outlet>

<p class="bg-danger text-white text-center p-4 h1">Seb Soluções App</p>
<div class="container">
  <div class="card mb-3">
    <div class="card-header bg-primary">
      <h3 class="text-center text-white h2 p-2">Cadastro de Usuário</h3>
    </div>

    <div class="card-body">
      <div class="form">
        <div class="row">
          <div class="col">
            <label>Nome</label>
            <input type="text" class="form-control">
          </div>
          <div class="col">
            <label>E-mail</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label>Senha</label>
            <input type="password" class="form-control">
          </div>
          <div class="col">
            <label>Confirmar - Senha</label>
            <input type="password" class="form-control">
          </div>
        </div>
      </div>
      <button class="btn btn-primary mt-3">Cadastrar</button>
      <app-button textButton="Entrar"></app-button>
      <app-button textButton="Sair"></app-button>
    </div>
  </div>

</div>